* {
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}


body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #081b29;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    background-color: transparent;
    color: white;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    top: 0px;
    position:sticky;
    margin-left: 80px;
}
.nav-links a{
    text-decoration: none;
    color: white;
}

.home{
    display: flex;
    align-items: center;
    margin-top: 100px;
    padding-left: 30px;
    color: white;
}

.home-content{
    max-width: 600px;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
}
.home-content h3{
    font-size: 30px;
    color: #00abf0;
}