#about {
  padding: 4rem 2rem;
  background: rgb(30, 30, 30);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container {
  max-width: 900px;
  margin: 0 auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 1s ease-out;
}

.about-card {
  text-align: start;
}

.about-title {
  font-size: 2.5rem;
  color: black;
  margin-bottom: 1rem;
}

.highlight {
  color: #72A0C1;
}

.about-description {
  font-size: 1.1rem;
  color: #565656;
  line-height: 1.8;
  margin-bottom: 2rem;
}

.about-button {
  background-color: #343a40;
  color: #fff;
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.about-button:hover {
  background-color: #495057;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .about-title {
    font-size: 2rem;
  }

  .about-description {
    font-size: 1rem;
  }
}
